<html>
<body>
	<div id="container"/>
{% if current_user and current_user.is_authenticated %}
	<h1>Hello {{ current_user.name }} from Vanth</h1>
	<form action="/logout/" method="POST">
		<input type="submit">Log out</input>
	</form>
{% else %}
	<h1>Please log in</h1>
	<form action="/login/" method="POST">
		<label>username</label><input type="text" name="username"></input>
		<label>password</label><input type="password" name="password"></input>
		<input type="submit">Log in</input>
	</form>
{% endif %}
	<script src="build/bundle.js"></script>
</body>
</html>
